/*
	@name iphone_13_pro_max___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 428px; width: 428px; height: 926px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__iphone_13_pro_max___1 {
	top: 0px;
	left: 0px;
	width: 428px;
	height: 926px;
	background:rgba(255,255,255,1);
}


#img_20210926_072207_1 {
	top: 0px;
	left: 0px;
	width: 428px;
	height: 926px;
}

#group_17 {
	top: 149px;
	left: 60px;
	width: 222px;
	height: 16px;
}

#want_to_see {
	top: 0px;
	left: 62px;
	width: 178.54545402527px;
	height: 25.545454025269px;
	overflow: hidden;
	font-family: Gilroy;
	font-size: 13.09px;
	font-weight: bold;
	text-align: left;
	letter-spacing: 4.3636360168457px;
	color:#3E5118;
}


#rectangle_2_1 {
	top: 7px;
	left: 0px;
	width: 40px;
	height: 2px;
	background:rgba(62.14,81.81,24.54,1);
}


#year_book_of_class_2022 {
	top: 177px;
	left: 62.08px;
	width: 322.71px;
	height: 240px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 40px;
	text-align: left;
	line-height: 47.227272033691px;
	color:#FFFFFF;
}

#group_19 {
	top: 668px;
	left: 115px;
	width: 197.84px;
	height: 212px;
}

#gold_trans_2 {
	top: 0px;
	left: 40px;
	width: 118.31px;
	height: 87.17px;
}


#this_website_is_managed_by_maprc___iit_gandhinagar {
	top: 92px;
	left: -2px;
	width: 208.34px;
	height: 41.93px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 11px;
	text-align: center;
	line-height: 17.27272605896px;
	margin-top: -2.09090868632px;
	height: 52.93px;
	color:#FFFFFF;
}


#previous_year {
	top: 160px;
	left: 58px;
	width: 98.5px;
	height: 25.5px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 11px;
	text-align: left;
	line-height: 23.27272605896px;
	margin-top: -4.09090868632px;
	height: 36.5px;
	color:#FFFFFF;
}


#year_book_of_class_2021 {
	top: 178px;
	left: 38px;
	width: 138.5px;
	height: 25.5px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 11px;
	text-align: left;
	line-height: 23.27272605896px;
	margin-top: -4.09090868632px;
	height: 36.5px;
	color:#FFFFFF;
}


#year_book_of_class_2020 {
	top: 195px;
	left: 36px;
	width: 142.5px;
	height: 24.5px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 11px;
	text-align: left;
	line-height: 23.27272605896px;
	margin-top: -4.09090868632px;
	height: 35.5px;
	color:#FFFFFF;
}

#group_20 {
	top: 58px;
	left: 295px;
	width: 89px;
	height: 26px;
}

#rectangle_3 {
	top: 0px;
	left: 0px;
	width: 89px;
	height: 26px;
	-ms-border-radius: 7.27px;
	-o-border-radius: 7.27px;
	-moz-border-radius: 7.27px;
	-webkit-border-radius: 7.27px;
	border-radius: 7.27px;
	background:rgba(74.74,121.12,32.3,1);
}


#account {
	top: 5px;
	left: 36px;
	width: 57.272727012634px;
	height: 28.272727012634px;
	overflow: hidden;
	font-family: Gilroy-Bold;
	font-size: 14.55px;
	text-align: left;
	color:#FFFFFF;
}


#icon_action_account_circle_24px {
	top: 5px;
	left: 14px;
	width: 16.36px;
	height: 16.36px;
}

#group_21 {
	top: 404px;
	left: 354px;
	width: 23px;
	height: 118px;
}

#vector {
	top: 0px;
	left: 2px;
	width: 20px;
	height: 20px;
}


#vector_ek1 {
	top: 35px;
	left: 1px;
	width: 20.92px;
	height: 17px;
}


#vector_ek2 {
	top: 98px;
	left: 2px;
	width: 20px;
	height: 20px;
}


#vector_ek3 {
	top: 67px;
	left: 0px;
	width: 23px;
	height: 16px;
}



/* Add your custom CSS here */
